.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-control-prev,
.carousel-control-next{
    background: none;
}

.carousel .prev-next{
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
}

.carousel button{
    position: relative;
    display: inline-block;
    width: fit-content;
}

.carousel span{
    color: #4f5051;
    width: fit-content;
    height: fit-content;
}

.carousel svg:hover{
    color: var(--color-primary);
}