.button a{
    font-size: 14px;
    color: var(--color-light);
    border-radius: var(--border-raduis-primary);
    padding: calc(var(--padding-primary) / 4) calc(var(--padding-primary) / 2);
    letter-spacing: 0.5x;
    transition: all var(--transition-primary);
}

.primary-btn a{
    background-color: var(--color-primary);
}

.primary-btn a:hover{
    background-color: var(--color-light);
    color: var(--color-primary);
}

.secondary-btn a{
    border: 1px solid var(--color-primary);
}

.secondary-btn a:hover{
    border: 1px solid var(--color-light);
    color: var(--color-primary);
}

.secondary-btn.disable a{
    color: var(--color-gray);
    border-color: var(--color-gray);
    pointer-events: none;
    user-select: none;
}