.popular-clips-card{
    margin-top: 0 !important;
    max-width: 300px;
}
.popular-clips-card .image{
    position: relative;
}
.popular-clips-card img{
    width: 100%;
    border-radius: var(--border-raduis-primary);
}
.popular-clips-card a{
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-light);
    color: var(--color-primary);
}


.popular-clips-card .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc( var(--margin-secondary) / 2);
}
.popular-clips-card h6{
    font-weight: var(--font-weight-bold);
    margin: 0;
}
.popular-clips-card .details span{
    font-size: 14px;
}
.popular-clips-card .details svg{
    font-size: 16px;
    margin-right: 2px;
    color: var(--color-primary);
}


@media (min-width: 992px) {
    .popular-clips-card{
        padding: 0;
    }
}